<navigation-bar></navigation-bar>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-gray-50">
    <div class="min-h-screen px-4 sm:px-6 lg:px-8 py-8">
        <!-- Search Header -->
        <div class="mb-6">
            <h2 class="text-2xl font-bold text-gray-900">Buscar Quejas</h2>
        </div>

        <!-- Search Form -->
        <div class="bg-white shadow rounded-lg p-6 mb-6">
            <form [formGroup]="searchForm" (ngSubmit)="searchComplaints()"
                class="grid grid-cols-1 sm:grid-cols-8 gap-4 items-end">

                <!-- Busqueda -->
                <div class="flex flex-col  sm:col-span-5">
                    <label for="searchTerm" class="text-sm font-medium text-gray-700 mb-1">Búsqueda</label>
                    <input id="searchTerm" type="text" formControlName="searchTerm" placeholder="Asunto o radicado..."
                        class="px-3 py-2 border rounded-lg text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent" />
                </div>

                <!-- Estado -->
                <div class="flex flex-col sm:col-span-2">
                    <label for="status" class="text-sm font-medium text-gray-700 mb-1">Estado</label>
                    <select id="status" formControlName="status"
                        class="px-3 py-2 border rounded-lg text-gray-900 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent">
                        <option value="">Todos</option>
                        @for (item of statusOptions; track item.value) {
                        <option [value]=item.value>{{ item.label }}</option>
                        }
                    </select>
                </div>

                <!-- Botón Buscar -->
                <div class="flex justify-start sm:justify-end sm:col-span-1">
                    <button type="submit"
                        class=" flex flex-row gap-x-2 bg-orange-500 text-white px-4 py-2 rounded-lg shadow hover:bg-orange-600 transition-colors">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-search-icon lucide-search">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg>
                        <span>Buscar</span>                       
                    </button>
                </div>

            </form>
        </div>

        <!-- Loading Indicator -->
        @if (loading) {
        <div class="text-center py-4 bg-white shadow rounded-lg mb-6">
            <p class="text-gray-500">Cargando quejas...</p>
        </div>
        }

        <!-- Error Message -->
        @if (error) {
        <div class="text-center py-4 bg-red-50 text-red-700 shadow rounded-lg mb-6">
            <p>{{ error }}</p>
        </div>
        }

        <!-- Results Table -->
        @if (!loading && !error) {
        <div class="bg-white shadow-md rounded-lg p-6">
            <h3 class="text-lg font-bold text-black mb-4">Resultados</h3>

            @if (complaints.length > 0) {
            <div class="overflow-x-auto">
                <table class="min-w-full border border-gray-200 rounded-lg">
                    <!-- Encabezado -->
                    <thead class="bg-orange-500">
                        <tr>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Radicado</th>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Asunto</th>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Estado</th>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Tiempo estimado</th>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Fecha de creación</th>
                            <th class="px-4 py-3 text-left text-sm font-semibold text-white">Acciones</th>
                        </tr>
                    </thead>

                    <!-- Cuerpo -->
                    <tbody class="divide-y divide-gray-200">
                        @for (complaint of complaints; track $index) {
                        <tr class="hover:bg-orange-50 transition">
                            <td class="px-4 py-2 text-black font-medium">{{ complaint.reference }}</td>
                            <td class="px-4 py-2 text-gray-800">{{ complaint.subject }}</td>
                            <td class="px-4 py-2">
                                <span [class]="classForStatus(complaint.status)">
                                    {{ labelForStatus(complaint.status) }}
                                </span>
                            </td>
                            <td class="px-4 py-2">
                                <div class="flex items-center gap-2">
                                    <!-- Icono de velocidad -->
                                    @if (complaint.prediction === 'MuyRapido') {
                                    <svg class="w-5 h-5 text-green-600" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm font-medium text-green-700">Muy Rápido</span>
                                    }
                                    @else if (complaint.prediction === 'Rapido') {
                                    <svg class="w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm font-medium text-blue-700">Rápido</span>
                                    }
                                    @else if (complaint.prediction === 'Lento') {
                                    <svg class="w-5 h-5 text-yellow-600" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm font-medium text-yellow-700">Lento</span>
                                    }
                                    @else if (complaint.prediction === 'MuyLento') {
                                    <svg class="w-5 h-5 text-red-600" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm font-medium text-red-700">Muy Lento</span>
                                    }
                                    @else {
                                    <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <span class="text-sm text-gray-600">Por Determinar</span>
                                    }
                                </div>
                            </td>
                            <td class="px-4 py-2 text-gray-600">{{ complaint.recievedDate | date:'dd/MM/yy, h:mm a'}}</td>
                            <td class="px-4 py-2">
                                <button (click)="viewComplaint(complaint.id)"
                                    class="bg-orange-500 hover:bg-orange-600 text-white px-3 py-1 rounded-md text-sm font-medium transition">
                                    Ver
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
            @else {
            <p class="text-gray-500 text-sm italic mt-4">No se encontraron resultados.</p>
            }
        </div>

        }

        <!-- No Results -->
        @if(complaints.length === 0) {
        <p class="text-gray-500 mt-4">No se encontraron quejas que coincidan con la búsqueda.</p>
        }

        <!-- Pagination -->
        <app-pagination-controls [currentPage]="page" [totalItems]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="[5,10,20,50]" (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </app-pagination-controls>
    </div>
</div>